@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&family=Ubuntu:wght@300;400;500&display=swap');

:root{
    --primaryfont: 'Ubuntu', sans-serif;
    --secondaryfont: 'Abril Fatface', cursive;
    --thirdfont: 'Open Sans', sans-serif;

    /* dark blue */
    --primarycolor: #0f2f44;
    /* yellow */
    --secondarycolor: #ffc712;
    /* purple */
    --thirdcolor: #8383bf;
}
/* common css start here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.center{
    align-items: center;
}
.heading p{
    font-size: 14px;
    font-weight: 300;
    color: var(--primarycolor);
}
.heading h2{
    font-family: var(--secondaryfont);
    font-size: 32px;
    font-weight: 400;
    color: var(--primarycolor);
}
.cnt{
    font-family: var(--thirdfont);
    font-size: 16px;
    font-weight: 400;
    color: var(--primarycolor);
    margin: 32px 0;
}
.yellow_btn{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: var(--primarycolor);
    padding: 16px 20px;
    background-color: var(--secondarycolor);
    border-radius: 8px;
}
/* common css end here */
/* Header section start here */
header{
    background-color: var(--primarycolor);
    color: white;
    padding: 20px 0;
}
.welcome{
    width: 50%;
}
.opening{
    width: 50%;
    text-align: right;
}
/* Header section end here */

/* Navigation section start here */
.logo{
    width: 40%;
}
.menu{
    width: 60%;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: inline-block;
    padding: 42px 20px;
    color: var(--primarycolor);
    font-size: 16px;
    font-weight: 500;
    transition: 300ms;
}
.menu ul li:hover a{
    color: var(--secondarycolor);
}
/* Navigation section end here */

/* Banner section start here */
#banner{
    background-image: url(./Images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 140px 0;
}
#banner h3{
    font-size: 50px;
    font-weight: 300;
    color: var(--primarycolor);
}
#banner h1{
    font-family: var(--secondaryfont);
    font-size: 80px;
    font-weight: 400;
    color: var(--primarycolor);
    margin: -12px 0;
}
#banner h5{
    color: var(--thirdcolor);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 9px;
}
#banner p{
    font-family: var(--thirdfont);
    font-size: 14px;
    color: #444444;
    margin: 30px 0;
}
#banner .explore_more{
    padding: 15px 20px;
    color: white;
    background-color: var(--thirdcolor);
    border-radius: 8px;
    display: inline-block;
}
#banner .videobtn{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: white;
    color: var(--thirdcolor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
}
/* Banner section end here */


/* About us start here */
#about{
    margin: 100px 0;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
#about ul li{
    margin: 30px 30px;
    font-family: var(--thirdfont);
    font-size: 16px;
    font-weight: 400;
    color: var(--primarycolor);
}
#about .read_btn{
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 16px 20px;
    background-color: whtie;
    color: var(--primarycolor);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
}
/* About us end here */

/* Our skills start here */
#our_skills .left{
    width: 50%;
}
#our_skills .right{
    width: 50%;
    text-align: right;
}
/* Our skills end here */

/* Our services start here */
#our_services{
    background-color: #f5f5f5;
    padding: 60px 0;
}
#our_services .heading{
    text-align: center;
}
.service_card{
    width: calc(33.33% - 30px);
    margin: 55px 15px;
    position: relative;
}
.service_card .icon{
    width: 25%;
    background-color: #e9e9e9;
    text-align: center;
    padding: 54px 0;
}
.service_card .text{
    width: 75%;
    background-color: #eeeeee;
    padding: 27px 20px;
}
.service_card .text h4{
    font-style: 20px;
    font-weight: 500;
    color: #222222;
}
.service_card .text p{
    font-family: var(--thirdfont);
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    line-height: 20px;
    margin-top: 20px;
}
.service_card .overlay{
    background-color: var(--primarycolor);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    transform: scale(0);
    opacity: 0;
    visibility: 0;
    transition: 300ms ease;
}
.service_card:hover .overlay{
    transform: scale(1);
    opacity: 1;
    visibility: 1;
}
.service_card .overlay h4{
    color: white;
    font-style: 20px;
    font-weight: 500;
}
.service_card .overlay a{
    border-radius: 50%;
    background-color: var(--secondarycolor);
    display: block;
    width: 40px;
    height: 40px;
    color: black;
    line-height: 40px;
    position: absolute;
    /* left: calc(50% - 20px); */
    left: 0%;
    transform: translateX(-50%);
    bottom: -20px;
    opacity: 0;
    visibility: 0;
    transition: 300ms;
    transition-delay: 250ms;
}
.service_card:hover .overlay a{
    left: 50%;
    opacity: 1;
    visibility: 1;
}
/* Our services end here */

/* Our Portfolio start here */
#our_portfolio{
    padding: 100px 0;
}
#our_portfolio .heading{
    text-align: center;
}
.portfolio_card{
    width: calc(33.33% - 80px);
    margin: 60px 40px;
    position: relative;
}

#our_portfolio .yellow_btn{
    margin: 0 500px;
}
.overlay1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    background-color: white;
    padding: 32px 0;
    text-align: center;
    color: var(--primarycolor);
    font-size: 20px;
    font-weight: 500;
    transform: scaleY(1);
    transition: 0.4s;
    transform-origin: bottom;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.overlay1:hover{
    opacity: 1;
}
/* Our Portfolio end here */


/* Our Testimonial start here */
#our_testimonial{
    background-color: #f5f5f5;
    padding: 60px 0;
}
#our_testimonial .heading{
    text-align: center;
    margin-bottom: 60px;
}
#our_testimonial .left{
    width: calc(50% - 15px);
    background-color: #e9e9e9;
    border-radius: 5px;
    margin-right: 15px;
    position: relative;
}
.left .image{
    width: 40%;
}
.left .cntnt{
    width: 60%;
    padding: 30px 10px;
}
.left .cntnt .p1{
    font-family: var(--thirdfont);
    font-size: 14px;
    font-weight: 400;
    color: var(--primarycolor);
    line-height: 20px;
}
.left .cntnt h4{
    font-size: 20px;
    font-weight: 500;
    color: var(--primarycolor);
    margin-top: 30px;
}
.left .cntnt .p2{
    font-size: 16px;
    font-weight: 300;
    color: var(--primarycolor);
}
#our_testimonial .right{
    position: relative;
    width: calc(50% - 15px);
    background-color: #e9e9e9;
    border-radius: 5px;
    margin-left: 15px;
}
.right .image{
    width: 40%;
}
.right .cntnt{
    width: 60%;
    padding: 30px 10px;
}
.right .cntnt .p1{
    font-family: var(--thirdfont);
    font-size: 14px;
    font-weight: 400;
    color: var(--primarycolor);
    line-height: 20px;
}
.right .cntnt h4{
    font-size: 20px;
    font-weight: 500;
    color: var(--primarycolor);
    margin-top: 30px;
}
.right .cntnt .p2{
    font-size: 16px;
    font-weight: 300;
    color: var(--primarycolor);
}
.right .overlay{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    color: var(--primarycolor);
    background-color: white;
    position: absolute;
    top: calc(50% - 22px);
    right: -22px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}
.right .overlay:hover{
    background-color: var(--secondarycolor);
}
.left .overlay{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 45px;
    color: var(--primarycolor);
    text-align: center;
    background-color: white;
    position: absolute;
    top: calc(50% - 22px);
    left: -22px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}
.left .overlay:hover{
    background-color: var(--secondarycolor);
}
/* Our Testimonial end here */

/* Our Latest Blogs start here */
#our_latest_blogs{
    padding: 100px 0;
}
#our_latest_blogs .heading{
    text-align: center;
}
.olb_cards{
    width: 33.33%;
    background-color: #f5f5f5;
    padding: 40px ;
    margin-top: 20px;
    position: relative;
    transition: 0.5s;
}
.olb_cards:hover{
    background-color: var(--primarycolor);
}
.olb_cards .content{
    transform: scale(1);
    transition: 0.5s;
}
.olb_cards:hover .content{
    transform: scale(1.1);
}
.olb_cards p{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin-top: 30px;
}
.olb_cards h3{
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin: 30px 0;
}
.olb_cards a{
    font-size: 16px;
    font-weight: 500;
    color: #777777;
}
.olb_cards span{
    color: #777777;
}
.olb_cards .overlay{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px ;
    transition: 0.5s;
    opacity: 0;
}
.olb_cards .overlay p{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-top: 30px;
}
.olb_cards .overlay h3{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 30px 0;
}
.olb_cards .overlay a{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.olb_cards .overlay span{
    color: white;
}
.overlay:hover{
    transform: scale(1.1);
    opacity: 1;
}
.olb_cards .overlay .left{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    transition: 0.4s;
}
.icons .left a{
    color: var(--primarycolor);
}
.olb_cards .overlay .left:hover{
    background-color: var(--secondarycolor);
}
.olb_cards .overlay .right{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    transition: 0.4s;
}
.icons .right a{
    color: var(--primarycolor);
}
.olb_cards .overlay .right:hover{
    background-color: var(--secondarycolor);
}
#our_latest_blogs .yellow_btn{
    margin: 60px 510px;
}
/* Our Latest Blogs end here */


/* footer section start here */
#footer{
    background-color: #f5f5f5;
    padding: 96px 0 60px 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 10px 16px;
    position: relative;
}
#footer .bizzency{
    width: 25%;
}
.bizzency p{
    font-family: var(--thirdfont);
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin: 30px 0;
    line-height: 20px;
}
.social_links ul li{
    display: inline-block;
}
.social_links ul li a{
    display: inline-block;
    outline: 1px solid #0f2f44;
    font-size: 20px;
    color: #0f2f44;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: 400ms;
}
.social_links ul li:hover a{
    background-color: var(--primarycolor);
    color: white;
}
#footer .contact{
    width: 25%;
}
.contact h4{
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 40px;
}
.contact .icon{
    width: 15%;
    font-size: 24px;
    color: #777777;
    margin: 15px 0;
}
.contact .info{
    width: 85%;
    font-family: var(--thirdfont);
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin:  0;
}
#footer .important{
    width: 20%;
}
.important h4{
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 35px;
}
.important ul li{
    display: inline-block;
    width: 100%;
}
.important ul li a{
    display: block;
    font-family: var(--thirdfont);
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    margin: 12px 0;
    transition: 0.45s;
}
.important ul li:hover a{
    padding-left: 20%;
    color: var(--primarycolor);
}
#footer .flickr{
    width: 30%;
}
#footer .flickr h4{
    font-size: 20px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 40px;
}
#footer .flickr .flickr_img{
    width: calc(25% - 30px);
    margin: 0 30px 15px 0;
    transform: translate(1);
}
#footer .flickr .flickr_img img{
    display: block;
}
#footer .ft_overlay a{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    top: -30px;
    right: calc(50% - 30px);
    color: var(--primarycolor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    transition: 400ms;
}
#footer .ft_overlay:hover a{
    background-color: var(--secondarycolor);
    color: white;
}
#bottom{
    background-color: #f6f6f6;
}
#bottom p{
    padding: 20px 0;
    text-align: center;
    font-family: var(--thirdfont);
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}
#bottom p a{
    color: var(--secondarycolor);
}
/* footer section end here */